* {
    font-family: monospace;
    font-size: 11pt;
    border: none;
    border-radius: 0;
    min-height: 0;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
    border-bottom: 2px solid #7f7f7f;
}

#clock, #custom-launcher, #workspaces, #network, #bluetooth, #wireplumber, #backlight, #battery, #custom-notifications, #c>
    background-color: #000000;
    color: #ffffff;
    padding: 0 8px;
}

#custom-launcher {
    color: #ffffff;
    font-weight: bold;
    padding-right: 12px;
}

#workspaces button {
    background-color: #000000;
    color: #7f7f7f;
    padding: 0 6px;
    border: none;
}

#workspaces button.focused {
    background-color: #ffffff;
    color: #000000;
}

#workspaces button.active {
    background-color: #000000;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #7f7f7f;
}





